body {
    background-image: url('wood.jpg');
    background-size: cover;
}

.special-text {
    font-family: 'Lobster Two', cursive;
}

h1 {
    font-size: 5em;
    font-family: 'Courgette', cursive;
    color: #80dfff;
    text-align: center;
}

h2 {
    font-size: 2em;
    color: #80dfff;
    text-align: center;
    font-weight: bolder;
}

.About-me {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.35pc;
    color: #4d2600;
    padding: 12px;
    margin: 10px;
    border-radius: 20px;
    font-style: bold;
}

.Projects {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.35pc;
    color: #4d2600;
    padding: 12px;
    margin: 10px;
    border-radius: 20px;
    font-style: bold;
}

.Experience {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.35pc;
    color: #4d2600;
    padding: 12px;
    margin: 10px;
    border-radius: 20px;
    font-style: bold;
}

img {
    border-radius: 12px;
    border: 2px solid #80dfff;
}
